extends layout

block content
    
    h1(class="homePageIntro") Welcome to ndied, the best place to find or look for a job.
    h2(class="homePageIntro") Please, sign up for an account today to make sure you can be seen by potential workers or hirers.
    br 
    h1(class="homePageIntro") Current Jobs
    br

    table(id="jobsTable")
        thead(class="jobsTable") 
            tr(class="jobsTable")  
                th(class="jobsTable") Job Title 
                th(class="jobsTable") Job Salary 
                th(class="jobsTable") Job Description
        tbody(class="jobsTable") 
            each j in jobList
                form(action=`/apply/${j._id}` method="post")
                    tr(class="jobsTable")  
                        td(class="jobsTable" name="jTitle")= j.jobTitle
                        td(class="jobsTable" name="jSalary")= j.jobSalary
                        td(class="jobsTable" name="jDescription")= j.jobDescription 
                        td(class="jobsTable") 
                             input(class="signupForm",type="submit", name="submitButton", value="Apply")
    br
    img(id="homepageLogo" src="/ndiedLogo.png", alt="logo")
