extends layout

block content
    h1(class="homePageIntro") Welcome to ndied, the best place to find or look for a job.
    h2(class="homePageIntro") Please, sign up for an account today to make sure you can be seen by potential workers or hirers 
    
    img(class="homePageIntro" src='NdiedLogo.png')