extends layout

block content
    img(id="homepageLogo" src="/ndiedLogo.png", alt="logo")
    h1(class="homePageIntro") Welcome to ndied, the best place to find or look for a job.
    h2(class="homePageIntro") Please, sign up for an account today to make sure you can be seen by potential workers or hirers 
     
    

    h3(class="homePageIntro") Current Jobs
    
    table
        thead 
            tr 
                th Job Title 
                th Job Salary 
                th Job Description
        tbody 
            each j in jobList
                tr 
                    form(action="") 
                        td= j.jobTitle
                        td= j.jobSalary
                        td= j.jobDescription 
                        td 
                            input(class="signupForm",type="submit", name="submitButton", value="Apply")
