extends layout

block content
    //- h1(class="homePageIntro") Welcome to ndied, the best place to find or look for a job.
    //- h2(class="homePageIntro") Please, sign up for an account today to make sure you can be seen by potential workers or hirers 
     
    //- img(class="homePageIntro" src="/ndiedLogo.png", alt="logo")

    h1 Current Jobs 
        table 
            thead 
                tr Row 
                    th Job Title 
                    th Job Salary 
                    th Job Description
            tbody 
                each j in jobList
                    tr 
                        form(action="") 
                            td= j.jobTitle
                            td= j.jobSalary
                            td= j.jobDescription 
                            td 
                                input(class="signupForm",type="submit", name="submitButton", value="Apply")
