extends layout 

block content 
    h1(class="userIntro") Welcome Returning User
    h3(class="userIntro") Please sign in

    form(id="signupForm", action="/login", method="post")
        input(class="signupForm", type="text", name="username", placeholder="Username")
        br
        input(class="signupForm", type="text", name="password", placeholder="Password")
        br
        input(class="signupForm", type="submit", name="submitButton", value="Sign In")
        br
        a(href="/signup", class="signupForm") Don't have an Account? Register Here 