extends layout

block content
    h1(class="userIntro") Welcome New User!
    h3(class="userIntro") Please provide some basic information for us

    form(id="signupForm", action="/signup", method="post")
        input(class="signupForm", type="text", name="firstName", placeholder="First Name")
        br
        input(class="signupForm",type="text", name="lastName", placeholder="Last Name")
        br
        input(class="signupForm",type="text", name="dateOfBirth", placeholder="Date of Birth")
        br
        input(class="signupForm",type="text", name="gender", placeholder="Gender")
        br
        input(class="signupForm",type="text", name="username", placeholder="Username")
        br
        input(class="signupForm",type="text", name="password", placeholder="Password")
        br
        input(class="signupForm",type="submit", name="submitButton", value="Create Account")
        br